<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data</title>
    <script>
        const socket = new WebSocket(`ws://${location.hostname}:8888`);
        console.log(location.hostname);
        socket.addEventListener('open', function (event){

        });
        socket.addEventListener('message', txt => {
            const data = JSON.parse(txt.data);
            console.log(data);
            if (data.type === 'gpsData'){
                document.querySelector('.lat-long__value').innerText = data.lat;
                document.querySelector('.lat-long__value').innerText = data.long;
                document.querySelector('.altitudes_msl__value').innerText = data.altitudeMSL;
                document.querySelector('.altitudes_agl__value').innerText = data.altitudeAGL;
                document.querySelector('.elev__value').innerText = data.elevation;
                document.querySelector('.numSat__value').innerText = data.numSat;
                document.querySelector('.gpsFix__value').innerText = data.gpsFix;
                document.querySelector('.gpsHDOP__value').innerText = data.gpsHDOP;
                document.querySelector('.gpsVDOP__value').innerText = data.gpsVDOP;
                document.querySelector('.gpsSpeed__value').innerText = data.gpsSpeed;
            } else if (data.type === 'verticalSpeed'){
                document.querySelector('.verticalspeed__value').innerText = data.verticalSpeed;
                document.querySelector('.isDescending__value').innerText = data.isDescending;
                document.querySelector('.isAscending__value').innerText = data.isAscending;
                document.querySelector('.decending_signal__value').innerText = data.descendingSignal;
                document.querySelector('.ascending_signal__value').innerText = data.ascendingSignal;
            } else if (data.type === 'offsetInfo'){
                //document.querySelector('.calibratedOffset__value').innerText = data.calibratedOffset;
                document.querySelector('.mainOffset').value = data.offset;
            }
        })
    </script>
</head>
<body>
<h1>GPS Data</h1>
<div class="lat-long">
    <h2>Position Data</h2>
    <div class="lat-long__lat">
        <span class="lat-long__label">Latitude</span>
        <span class="lat-long__value">0.00</span>
    </div>
    <div class="lat-long__long">
        <span class="lat-long__label">Longitude</span>
        <span class="lat-long__value">0.00</span>
    </div>
</div>
<div class="altitudes">
    <div class="altitudes__gps">
        <span class="altitudes_msl__label">GPS Altitude (MSL, ft):</span>
        <span class="altitudes_msl__value">0.00</span><br>
        <span class="altitudes_agl__label">GPS Altitude (AGL, ft):</span>
        <span class="altitudes_agl__value">0.00</span><br>
        <span class="elev__label">Approx Elevation (ft):</span>
        <span class="elev__value">0.00</span>
    </div>
</div>
<div class="verticalspeed">
    <span class="verticalspeed__label">Vertical Speed (ft/min):</span>
    <span class="verticalspeed__value">0.00</span>
</div>
<div class="gpsinfo">
    <h2>GPS Info</h2>
    <span class="numSat__label">Number of Satellites:</span>
    <span class="numSat__value">0</span><br>
    <span class="gpsFix__label">GPS Fix:</span>
    <span class="gpsFix__value">0</span><br>
    <span class="gpsHDOP__label">GPS HDOP:</span>
    <span class="gpsHDOP__value">0.00</span><br>
    <span class="gpsVDOP__label">GPS VDOP:</span>
    <span class="gpsVDOP__value">0.00</span><br>
    <span class="gpsSpeed__label">GPS Speed (mph):</span>
    <span class="gpsSpeed__value">0.00</span><br>
</div>
<div class="configuration">
    <h2>Configuration</h2>
    <form>
        <label for="mainOffset">Main Offset</label>
        <input type="text" id="mainOffset" name="mainOffset" value="0">
        <input type="submit" value="Set New Offset">
    </form>
    <div class="calibratedOffset">
        <span class="calibratedOffset__label">Calibrated Offset Set:</span>
        <span class="calibratedOffset__value">false</span><br>
        <span class="calibratedOffset__label">Calibrated Offset Value:</span>
        <span class="calibratedOffset__value">0.00</span><br>
        <button type="button">Set Calibrated Offset for this location</button>
    </div>
</div>
<div class="debug">
    <h2>Debug</h2>
    <span class="isDescending__label">Is Descending:</span>
    <span class="isDescending__value">false</span><br>
    <span class="isAscending__label">Is Ascending:</span>
    <span class="isAscending__value">false</span><br>
    <span class="decending_signal__label">Descending Signal:</span>
    <span class="decending_signal__value">0</span><br>
    <span class="ascending_signal__label">Ascending Signal:</span>
    <span class="ascending_signal__value">0</span><br>
</div>
</body>

</html>
